/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #FFFFFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.125vw;
  padding: 0 50px;
}

.header > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1630px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 3.125vw;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1.0416666667vw;
}

.header__navbar > div {
  font-family: "Open Sans", sans-serif;
  color: #212121;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  max-width: 120px;
  width: 6.25vw;
  min-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar > div a {
  font-family: "Open Sans", sans-serif;
  color: #212121;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navbar > div:hover a:hover {
  color: #646464;
  background-color: unset;
  border: 5px solid #37806B;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
}

.header__sign-in-button {
  width: 97px;
  height: 32px;
  background: #CAA892;
  border-radius: 15px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

main > section {
  max-width: 1630px;
  width: 100%;
}

.hero-page {
  width: 100%;
  margin: 3.125vw 0 4.1666666667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.0416666667vw;
  position: relative;
}

.hero-page__deco {
  position: absolute;
  /* top: 29vw; */
  left: -2.6041666667vw;
  bottom: -100px;
  z-index: -1;
}

.hero-page-info {
  /* flex-grow: 1; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  /* max-width: 633/$vw; */
  max-width: 50%;
  margin-top: 3.3854166667vw;
}

.hero-page-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.hero-page-info__subtitle {
  font-family: "Poppins", sans-serif;
  color: #646464;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0.6770833333vw;
}

.hero-page-info__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
  margin-bottom: 1.3020833333vw;
  max-width: 632px;
}

.hero-page-info__text {
  font-family: "Open Sans", sans-serif;
  color: #646464;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 1.5625vw;
  max-width: 632px;
}

.hero-page-info__contact-button {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  height: 2.8645833333vw;
  width: 14.4791666667vw;
  max-height: 55px;
  max-width: 278px;
  min-width: 175px;
  border-radius: 20px 0px;
  background-color: #37806B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-page-image {
  /* flex-grow: 1; */
  position: relative;
  max-width: 50%;
}

.hero-page__photo img {
  width: 37.2395833333vw;
  max-width: 715px;
  height: 613px;
  border-radius: 140px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-page__photo-decor {
  border: 2px solid #B0855B;
  border-radius: 140px 0px;
  position: absolute;
  z-index: -1;
  width: 37.2395833333vw;
  max-width: 715px;
  height: 613px;
  top: 35px;
  left: 35px;
}

.what-we-do {
  width: 100%;
  margin: 6.25vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1.0416666667vw;
  position: relative;
}

.what-we-do__subtitle {
  font-family: "Poppins", sans-serif;
  color: #646464;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.what-we-do__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-weight: 600;
  font-size: 72px;
  line-height: 78px;
  text-transform: capitalize;
}

.what-we-do-filter-block {
  margin-top: 1.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  gap: 50px;
  margin-bottom: 5.7291666667vw;
}
@media screen and (max-width: 759px) {
  .what-we-do-filter-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.what-we-do-filter-block__button {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  max-width: 207px;
  min-width: 146px;
  width: 100%;
  height: 46px;
  border-radius: 20px;
  background-color: #37806B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what-we-do-filter-block__button:active {
  color: #37806B;
  background-color: #FFFFFF;
  border: 5px solid #37806B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.what-we-do__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 4.9479166667vw;
}

.what-we-do-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  max-width: 477px;
  min-width: 358px;
  min-height: 165px;
  width: 24.84375vw;
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.what-we-do-item:hover {
  background: #CAA892;
}
.what-we-do-item:hover .what-we-do-item__title, .what-we-do-item:hover .what-we-do-item__text {
  color: #FFFFFF;
}

.what-we-do-item *:hover {
  color: #FFFFFF;
}

.what-we-do-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.what-we-do-item__icon {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding-top: 10px;
}

.what-we-do-item__icon > img {
  width: 45px;
  height: 34px;
}

.what-we-do-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.what-we-do-item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #646464;
  max-width: 343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.what-we-do-decor {
  position: absolute;
  right: -40px;
  bottom: -230px;
  z-index: -1;
}

.about-us {
  margin: 7.2916666667vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5.2083333333vw;
}

.about-us-first-screen, .about-us-second-screen {
  width: 100%;
  margin: 4.1666666667vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.0416666667vw;
  position: relative;
}

.about-us-image {
  max-width: 50%;
  position: relative;
}

.about-us__photo > img {
  width: 35.4166666667vw;
  max-width: 680px;
  height: 712px;
  border-radius: 140px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us__photo-decor {
  border: 2px solid #B0855B;
  border-radius: 140px 0px;
  position: absolute;
  z-index: -1;
  width: 35.4166666667vw;
  max-width: 680px;
  height: 712px;
  top: -35px;
  right: 35px;
}

.about-us-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  /* max-width: 633/$vw; */
  max-width: 50%;
}

.hero-page-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about-us-info__subtitle {
  font-family: "Poppins", sans-serif;
  color: #646464;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 3.125vw;
}

.about-us-info__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 0.78125vw;
  max-width: 649px;
}

.about-us-info__text {
  font-family: "Open Sans", sans-serif;
  color: #646464;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2.34375vw;
  max-width: 546px;
}

.about-us-info__learn-more-button, .about-us-info__read-more-button {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  height: 2.8645833333vw;
  width: 14.4791666667vw;
  max-height: 55px;
  max-width: 278px;
  min-width: 175px;
  border-radius: 20px 0px;
  background-color: #37806B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-first-screen > .about-us-decor {
  position: absolute;
  z-index: -1;
  left: 0.5208333333vw;
  bottom: -13.0208333333vw;
}

.about-us-info__number-img {
  margin: 5.2083333333vw 0 1.0416666667vw;
}

.about-us-second-screen > .about-us-decor {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.completed-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  max-width: 100%;
  background-color: #F8F8F8;
}
@media screen and (max-width: 760px) {
  .completed-work {
    display: none;
  }
}

/* .background {
    background-color: #E0E0E0;
    position: absolute;
    width: 100%;
    z-index: -2;
    min-height: 677px;
} */
.completed-work__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 4.1666666667vw 0 4.6875vw;
}

.completed-work__title * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.completed-work-info {
  margin-bottom: 10.4166666667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 11.4583333333vw;
}

.completed-work-item {
  max-width: 185px;
  width: 9.6354166667vw;
  height: 182px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.completed-work-item__number {
  font-family: "Open Sans", sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.completed-work-item__name {
  font-family: "Open Sans", sans-serif;
  color: #646464;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.completed-work-item:nth-child(1) .completed-work-info__line {
  position: absolute;
  z-index: 1;
  right: -218px;
  top: 94px;
}

.completed-work-item:nth-child(2) {
  top: 94px;
}
.completed-work-item:nth-child(2) .completed-work-info__line {
  position: absolute;
  z-index: 1;
  right: -219px;
  top: 4px;
}

.completed-work-item:nth-child(3) .completed-work-info__line {
  position: absolute;
  z-index: 1;
  right: -219px;
  top: 94px;
}

.completed-work-item:nth-child(4) {
  top: 94px;
}

.testimonials {
  margin: 5.2083333333vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.testimonials__subtitle {
  font-family: "Poppins", sans-serif;
  color: #646464;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 2.0833333333vw;
}

.testimonials__title {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.testimonials__slider div {
  width: 30px;
  height: 29px;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials__slider div:active {
  background: #37806B;
}
.testimonials__slider div:active svg path {
  stroke: #FFFFFF;
}

.testimonials-reviews-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-item {
  width: 571px;
  height: 226px;
  background: #FFFFFF;
  -webkit-box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
          box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 760px) {
  .review-item {
    width: 29.7395833333vw;
    min-height: 226px;
  }
}/*# sourceMappingURL=styles.css.map */